body {
    justify-content: center;
    text-align: center;
    background-color: #89CFF3;
}

h1 {
    font-size: 40px;
    color: rgb(112, 103, 237);
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 2px 2px black;
    padding: 30px 0px 25px;
    font-family: 'Inter';
    letter-spacing: 4px;
}

.genimg {
    position: absolute;
    width: 15%;
    height: 20%;
    top: 250px;
    right: 400px;
}

.box {
    background-color: white;
    width: 900px;
    padding: 40px;
    justify-content: center;
    text-align: center;
    height: 590px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2%;
}

.home {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    right: 350px;
}

.minibox {
    width: 650px;
    height: 500px;
    text-align: left;
    font-family: 'Inter';
    font-style: italic;
}

.minibox input[type="number"] {
    font-size: 1.5rem;
}

h4 {
    margin-top: 20px;
    display: inline-block;
    margin-right: 40px;
}

.minibox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: relative;
    right: 20px;
}

.gen {
    margin-top: 30px;
}


h3 {
    display: inline-block;
}

.pass {
    background-color: rgb(178, 178, 178);
    display: inline-block;
    width: 300px;
    height: 50px;
    position: relative;
    top: 17px;
    left: 25px;
    overflow: hidden;
    resize: none;
    text-align: center;
    font-size: 1.7rem;
}


.footer {
    margin-top: -15px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .genimg {
        display: none;
    }

    .box {
        width: 90vw;
        height: 85 vh;
        justify-content: center;
        align-items: center;

    }
    .minibox {
        width: 100%;
        text-align: left;
        font-family: 'Inter';
        font-style: italic;
    }

    #length{
        position: relative;
        width: 60px;
    }
    .content{
        position: relative;
        display: inline;
    }

    .pass {
        text-align: center;
        display: flex;
        position: relative;
        width: 250px;
        /* margin: auto; */
    }

    h3 {
        margin-top: 20px;
    }

    footer {
        display: inline-block;
        margin-bottom: 10px;
    }

    .home {
        color: black;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        position: relative;
        left: 0;
    }
}